@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
	display: none !important;
}

@layer base {

	:root,
	.light {
		/* stone palette modified */
		--background-color-50: 240 236 235;
		--background-color-100: 233 229 228;
		--background-color-200: 214 208 205;
		--background-color-300: 168 159 155;
		--background-color-400: 120 113 108;
		--background-color-500: 101 94 89;
		--background-color-600: 89 84 80;
		--background-color-700: 70 65 61;
		--background-color-800: 43 38 37;
		--background-color-900: 20 18 17;

		--obj-primary-color: 232 131 49;
		/* text-orange-500 modified */
		--obj-secondary-color: 170 177 191;
		/* text-gray-400 modified */
		--obj-tertiary-color: 14 165 233;
		/* text-sky-500 */
		--obj-success-color: 34 197 94;
		/* text-green-500 */
		--obj-warning-color: 234 179 8;
		/* text-yellow-500 */
		--obj-error-color: 185 28 28;
		/* text-red-700 */
		--obj-hyperlink-color: 229 71 9;
	}

	.dark {
		/* stone palette */
		--background-color-50: 20 18 17;
		--background-color-100: 28 25 23;
		--background-color-200: 41 37 36;
		--background-color-300: 68 64 60;
		--background-color-400: 87 83 78;
		--background-color-500: 120 113 108;
		--background-color-600: 168 162 158;
		--background-color-700: 214 211 209;
		--background-color-800: 231 229 228;
		--background-color-900: 245 245 244;

		--obj-primary-color: 190 83 9;
		/* text-amber-700 modified */
		--obj-secondary-color: 75 85 99;
		/* text-gray-500 */
		--obj-tertiary-color: 2 132 199;
		/* text-sky-600 */
		--obj-success-color: 22 163 74;
		/* text-green-600 */
		--obj-warning-color: 234 179 8;
		/* text-yellow-500 */
		--obj-error-color: 190 18 60;
		/* text-rose-700 */
		--obj-hyperlink-color: 235 123 9;
	}
}

@layer components {
	.feathericons {
		width: 100%;
		height: 100%;
		max-width: 24px;
		max-height: 24px;
		stroke: currentColor;
		stroke-width: 2;
		stroke-linecap: round;
		stroke-linejoin: round;
		fill: none;
	}
}