@tailwind base;
@tailwind components;
@tailwind utilities;

/* background color is from stone palette */

@layer base {

	:root,
	.light {
		--background-color-50: 250 250 249;
		--background-color-100: 245 245 244;
		--background-color-200: 231 229 228;
		--background-color-300: 214 211 209;
		--background-color-400: 168 162 158;
		--background-color-500: 120 113 108;
		--background-color-600: 87 83 78;
		--background-color-700: 68 64 60;
		--background-color-800: 41 37 36;
		--background-color-900: 28 25 23;
		--background-color-950: 12 10 9;
	}

	.dark {
		--background-color-50: 12 10 9;
		--background-color-100: 28 25 23;
		--background-color-200: 41 37 36;
		--background-color-300: 68 64 60;
		--background-color-400: 87 83 78;
		--background-color-500: 120 113 108;
		--background-color-600: 168 162 158;
		--background-color-700: 214 211 209;
		--background-color-800: 231 229 228;
		--background-color-900: 245 245 244;
		--background-color-950: 250 250 249;

	}
}